extends infographic
block button
    .btn_group
        button#Chart.button(value="/chart") Chart
        button#byKaryawan.button(value="/by_karyawan") By Karyawan
        button#byDate.button(value="/by_date" disabled) By Date
        button#formAbsen.button(value="/formAbsen") Form Izin
block info
  .form-group#byDate
    input#tanggal(type='date' name='tanggal' value=tanggal max= tanggal)
  for entry in absenkaryawan
    ul(id= entry.nik name=entry.tgl_absen style='display: none' class="hide container2")
      for detail in entry 
        if(detail !== '') 
          li= detail
  else 
    li= "nothing to see here"