extends infographic
block button
    .btn_group
        button#byKaryawan.button(value="/by_karyawan") By Karyawan
        button#Chart.button(value="/chart" disabled) Chart
        button#byDate.button(value="/by_date" ) By Date
block info
    h1 Line Chart with Chart.js
    div( width="100px" height="100px")
        canvas#myChart
block append script
    script(src="/javascripts/chartjs.js") 