extends infographicBody
block append info
    div(style="padding: 0.5em")
        h2  
    div(style="height:85vh; width:190vw")
        canvas#myChart
block append script
    script(src="/javascripts/divisichart.js") 