extends infographic
block button
    .btn_group
        button#Chart.button(value="/chart") Chart
        button#byKaryawan.button(value="/by_karyawan") By Karyawan
        button#byDate.button(value="/by_date" disabled) By Date
        button#formAbsen.button(value="/formAbsen") Form Izin
block info
    div(style="padding: 0.5em")
        h2  
    div(style="height:85vh; width:190vw")
        canvas#myChart
block append script
    script(src="/javascripts/divisichart.js") 