extends infographic
block formAbsenBtn
    button#formAbsen.button(value="formAbsen" disabled) Form Izin
block info
    .block
        .container1
            h2 Form input absen karyawan
            form#form
                case role
                    when 2: div 
                                div(class="form-group autocomplete" autocomplete="off")
                                    label(for="nik") NIK Karyawan
                                    input#nik(type="text" name="nik" autocomplete="off")
                                .form-group 
                                    label(for="alasan") Alasan absen 
                                    input#alasan(type="text" name="alasan")
                                .form-group 
                                    label(for="tgl_izin") Tanggal akan absen 
                                    input#tgl_izin(type="date" name="tgl_izin")
                                .form-group 
                                    label(for="durasiDalamJam") Berapa lama izin dalam Jam
                                    input#durasiDalamJam(type="number" name="durasiDalamJam" min="1" max="23")
                                .form-group 
                                    label(for="suratDktr") Upload Surat dari Dokter
                                    input#suratDktr(type="file" name="suratDktr")
                                div.form-group(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                    input#izin(type="checkbox" name="toggle" value="cuti")
                                    label(for="toggle" style="margin-bottom: 0px") Cuti
                                button#button(type='submit') Submit
                    when 1: .form-group 
                                label(for="getSuratDktr") Ambil Surat Dokter
                                div(class="form-group autocomplete" autocomplete="off")
                                    label(for="nik") NIK Karyawan
                                    input#nik(type="text" name="nik" autocomplete="off")
                                button#getSuratDktr(type="button" name="getSuratDktr") Ambil Surat
    button#buttonDownload(type="button") Download
block append script 
    script(src="/javascripts/formAbsen.js") 

