extends infographic
block button
    .btn_group
        button#byKaryawan.button(value="/by_karyawan") By Karyawan
        button#Chart.button(value="/chart" ) Chart
        button#byDate.button(value="/by_date" ) By Date
        button#formAbsen.button(value="/formAbsen" disabled) Form Izin
block info
    .block
        .container1
            h2 Form input absen karyawan
            form#form
                .form-group 
                    label(for="nik") NIK Karyawan
                    input#nik(type="text" name="nik")
                .form-group 
                    label(for="alasan") Alasan absen 
                    input#alasan(type="text" name="alasan")
                .form-group 
                    label(for="tgl_izin") Tanggal akan absen 
                    input#tgl_izin(type="date" name="tgl_izin")
                .form-group 
                    label(for="durasi") Berapa lama izin 
                    input#durasi(type="number" name="durasi")
                button#button(type='submit') Submit
    button#buttonDownload Download
block append script 
    script(src="/javascripts/formAbsen.js") 

