extends infographic
block formAbsenBtn
    button#formAbsen.button(value="formAbsen" disabled) Form Izin
block info
    .block
        .container1
            h2 Form input absen karyawan
            form#form
                div(class="form-group autocomplete" autocomplete="off")
                    label(for="nik") NIK Karyawan
                    input#nik(type="text" name="nik" autocomplete="off")
                .form-group 
                    label(for="alasan") Alasan absen 
                    input#alasan(type="text" name="alasan")
                .form-group 
                    label(for="tgl_izin") Tanggal akan absen 
                    input#tgl_izin(type="date" name="tgl_izin")
                .form-group 
                    label(for="durasi") Berapa lama izin 
                    select#durasi(name="durasi")
                        option(value="1") Setengah Hari 
                        option(value="2") Full Day
                .form-group 
                    label(for="durasi") Berapa lama izin 
                    input#durasi(type="number" name="durasi")
                .form-group 
                    label(for="suratDktr") Upload Surat dari Dokter
                    input#suratDktr(type="file" name="suratDktr" multiple)
                button#button(type='submit') Submit
    button#buttonDownload Download
block append script 
    script(src="/javascripts/formAbsen.js") 

