extends ../layout
block content
        .column
            //- div(style="flex: 0 1 auto")
            img(src="/images/Logo-Rajawali.png", alt="Logo Rajawali") 
        .row
            //- div(style="flex: 0 1 auto")
            h2 Welcome #{nama}
            //- div(style="flex: 0 1 auto")
            button#logout Logout
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    span(aria-current="page") Home
        .btn_group
            if role !== 3
                button#Chart.button(value="telatKaryawan") Lihat Telat
            if role == 1
                button#Chart.button(value="reportIzinKaryawanAll") Lihat Izin 
                button#Chart.button(value="psikotes") Lihat Data Psikotes
            if role == 2
                button#Chart.button(value="reportIzinKaryawan") Lihat Izin 
            if role == 3
                button#Chart.button(value="reportIzinKaryawanApprove") Lihat Izin 
block script
    script(src='/javascripts/infGraScript.js') 