extends ../layout 
block content
    block logout  
      button#logout Logout
    block title
        h3 Info Kehadiran
        .btn_group
            block chartBtn
                button#Chart.button(value="chart") Chart
            block karyawanBtn
                button#byKaryawan.button(value="by_karyawan") By Karyawan
                //- button#byDate.button(value="by_date") By Date
            block formAbsenBtn 
                button#formAbsen.button(value="formAbsen") Form Izin
            block reportKaryawanBtn
                button#reportIzinKaryawan.button(value="reportIzinKaryawan") Report
block info
block script
    script(src='/javascripts/infGraScript.js') 
//- script(src='/javascripts/absenScript.js')