extends ../layout 
block content
    h3 Info Kehadiran
    block button
        .btn_group
            button#byKaryawan.button(value="/by_karyawan") By Karyawan
            button#Chart.button(value="/chart") Chart
            button#byDate.button(value="/by_date") By Date
block info
block script
    script(src='/javascripts/infGraScript.js') 
//- script(src='/javascripts/absenScript.js')