extends ../layout
block content
        button#logout Logout
        h3 Welcome #{nama}
        .btn_group
            block chartBtn
                if role == 1
                    button#Chart.button(value="chart") Chart
            block karyawanBtn
                if role == 1
                    button#byKaryawan.button(value="by_karyawan") By Karyawan
                    //- button#byDate.button(value="by_date") By Date
                if role == 2
                    button#byKaryawan.button(value="by_karyawan") Jumlah Telat per bulan
            block formAbsenBtn
                if role == 1
                    button#formAbsen.button(value="formAbsen") Ambil surat
                if role == 2
                    button#formAbsen.button(value="formAbsen") Form Izin 
                if role == 3
                    button#formAbsen.button(value="izin") Lihat list izin
            block reportKaryawanBtn
                if role == 1
                    button#reportIzinKaryawan.button(value="reportIzinKaryawanAll") Report
                if role == 2
                    button#reportIzinKaryawan.button(value="reportIzinKaryawan") Report
block script
    script(src='/javascripts/infGraScript.js') 
//- script(src='/javascripts/absenScript.js')