extends ../layout
block content
    .header
        h2 Welcome #{nama}
        button#logout Logout
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    span(aria-current="page") Home
        .btn_group
            if role !== 3
                button#Chart.button(value="telatKaryawan") Lihat Telat
            if role !== 2
                button#Chart.button(value="reportIzinKaryawanAll") Lihat Izin 
            if role == 2
                button#Chart.button(value="reportIzinKaryawan") Lihat Izin 
block script
    script(src='/javascripts/infGraScript.js') 