extends ../layout 
block content
    block logout  
      button#logout Logout
    block title
        h3 Info Kehadiran
    block button
        .btn_group
            button#Chart.button(value="chart") Chart
            button#byKaryawan.button(value="by_karyawan") By Karyawan
            //- button#byDate.button(value="by_date") By Date
            button#formAbsen.button(value="formAbsen") Form Izin
block info
block script
    script(src='/javascripts/infGraScript.js') 
//- script(src='/javascripts/absenScript.js')