extends infographicBody
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/kehadiran/info") Home
                li
                    span(aria-current="page") Jumlah Telat Per bulan
block append info
    div(style="padding: 0.5em")
        div(style="position: relative; height: 80vh; width: 80vw;")
            canvas#myChart
block append script
    script(src="/javascripts/karyawanchart.js")