extends infographic
block button
    .btn_group
        button#Chart.button(value="chart") Chart
        button#byKaryawan.button(value="by_karyawan" disabled) By Karyawan
        //- button#byDate.button(value="by_date" ) By Date
        button#formAbsen.button(value="formAbsen") Form Izin
block info
    div(style="padding: 0.5em")
        div.autocomplete(style="display: flex; align-items: center; justify-content: center;")
            input#karyawan(type="text", name="karyawan" )
        div(style="position: relative; height: 80vh; width: 80vw;")
            canvas#myChart
block append script
    script(src="/javascripts/karyawanchart.js")