extends ../layout 
block content
    .block
        .container2
            .header 
                h2 DISC TEST
            .body 
                form(action="disc_test" method="post" enctype="multipart/form-data")
                    table(style='margin-left:auto; margin-right:auto;')
                        tr  
                            h4='PERINTAH: Pilihlah hanya 1(satu) M(ost) dan hanya 1(satu) L(east) di dalam sekelompok pernyataan yg terdapat di dalam satu kotak di bawah ini.'
                            td(colspan=3 style='text-align:center')
                                div
                                    h5 Contoh
                                    img(src="/images/contoh_disc1.jpg", alt="contoh" style='width: 20em; height:10em;')
                        tr 
                            td 
                                div
                                    label 1
                                    table.psikotes
                                        tr  
                                            th M 
                                            th 
                                            th L
                                        tr
                                            td
                                                label(for='m11')
                                                input#m11(type='radio' name='most1' value='B8' checked)
                                            td
                                                p Gampangan, Mudah setuju
                                            td
                                                input#l11(type='radio' name='least1' value='D8')
                                                label(for='l11')
                                        tr 
                                            td  
                                                label(for="m12") 
                                                input#m12(type='radio' name='most1' value='B9')
                                            td
                                                p Percaya, Mudah percaya pada orang 
                                            td
                                                label(for="m12") 
                                                input#l12(type='radio' name='least1' value='D9' checked)
                                        tr 
                                            td(for="m13")
                                                input#m13(type='radio' name='most1' value='B10')
                                            td 
                                                p Petualang, Mengambil resiko 
                                            td(for='l13')
                                                input#l13(type='radio' name='least1' value='D10')
                                        tr 
                                            td(for='m14')
                                                input#m14(type='radio' name='most1' value='B11')
                                            td 
                                                p Toleran, Menghormati
                                            td(for='l14')
                                                input#l14(type='radio' name='least1' value='D11')
                            td
                                div
                                    label 2
                                    table.psikotes
                                        tr 
                                            th M 
                                            th 
                                            th L
                                        tr 
                                            td 
                                                input(type='radio' name='most2' value='B14' checked)
                                            td 
                                                p Lembut suara, Pendiam
                                            td 
                                                input(type='radio' name='least2' value='D14')
                                        tr 
                                            td 
                                                input(type='radio' name='most2' value='B15')
                                            td 
                                                p Optimistik, Visioner
                                            td 
                                                input(type='radio' name='least2' value='D15' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most2' value='B16')
                                            td 
                                                p Pusat perhatian, Suka gaul 
                                            td 
                                                input(type='radio' name='least2' value='D16')
                                        tr 
                                            td 
                                                input(type='radio' name='most2' value='B17')
                                            td 
                                                p Pendamai, Memebawa Harmoni 
                                            td 
                                                input(type='radio' name='least2' value='D17')
                            td
                                div
                                    label 3
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most3' value='B20' checked)
                                            td 
                                                p Menyemangati orang
                                            td 
                                                input(type='radio' name='least3' value='D20')
                                        tr 
                                            td 
                                                input(type='radio' name='most3' value='B21')
                                            td 
                                                p Berusaha sempurna
                                            td 
                                                input(type='radio' name='least3' value='D21' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most3' value='B22')
                                            td 
                                                p Bagian dari kelompok
                                            td 
                                                input(type='radio' name='least3' value='D22')
                                        tr 
                                            td 
                                                input(type='radio' name='most3' value='B23')
                                            td 
                                                p Ingin membuat tujuan
                                            td 
                                                input(type='radio' name='least3' value='D23')
                        tr   
                            td
                                div
                                    label 4
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most4' value='B26' checked)
                                            td 
                                                p Menjadi frustasi 
                                            td 
                                                input(type='radio' name='least4' value='D26')
                                        tr 
                                            td 
                                                input(type='radio' name='most4' value='B27')
                                            td 
                                                p Menyimpan perasaan saya 
                                            td 
                                                input(type='radio' name='least4' value='D27' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most4' value='B28')
                                            td 
                                                p Menceritakan sisi saya  
                                            td
                                                input(type='radio' name='least4' value='D28')
                                        tr 
                                            td 
                                                input(type='radio' name='most4' value='B29')
                                            td 
                                                p Siap beroposisi 
                                            td 
                                                input(type='radio' name='least4' value='D29')
                            td
                                div
                                    label 5
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most5' value='B32' checked)
                                            td 
                                                p Hidup, Suka bicara
                                            td 
                                                input(type='radio' name='least5' value='D32')
                                        tr 
                                            td 
                                                input(type='radio' name='most5' value='B33')
                                            td 
                                                p Gerak cepat, Tekun 
                                            td 
                                                input(type='radio' name='least5' value='D33' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most5' value='B34')
                                            td 
                                                p Usaha menjaga keseimbangan 
                                            td 
                                                input(type='radio' name='least5' value='D34')
                                        tr
                                            td 
                                                input(type='radio' name='most5' value='B35')
                                            td 
                                                p Usaha mengikuti aturan 
                                            td 
                                                input(type='radio' name='least5' value='D35')
                            td
                                div
                                    label 6
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most6' value='B38' checked)
                                            td 
                                                p Kelola waktu secara efisien
                                            td 
                                                input(type='radio' name='least6' value='D38')
                                        tr 
                                            td 
                                                input(type='radio' name='most6' value='B39')
                                            td 
                                                p Sering terburu buru, Merasa tertekan
                                            td 
                                                input(type='radio' name='least6' value='D39' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most6' value='B40')
                                            td
                                                p Masalah sosial itu penting
                                            td 
                                                input(type='radio' name='least6' value='D40')
                                        tr 
                                            td 
                                                input(type='radio' name='most6' value='B41')
                                            td 
                                                p Suka selesaikan apa yang saya mulai
                                            td 
                                                input(type='radio' name='least6' value='D41')
                        tr
                            td
                                div
                                    label 7
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most7' value='B44' checked)
                                            td 
                                                p Tolak perubahan mendadak
                                            td 
                                                input(type='radio' name='least7' value='D44')
                                        tr 
                                            td 
                                                input(type='radio' name='most7' value='B45')
                                            td 
                                                p Cenderung janji berlebihan
                                            td 
                                                input(type='radio' name='least7' value='D45' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most7' value='B46')
                                            td 
                                                p Tarik diri di tengah tekanan 
                                            td 
                                                input(type='radio' name='least7' value='D46')
                                        tr 
                                            td 
                                                input(type='radio' name='most7' value='B47')
                                            td 
                                                p Tidak takut bertempur 
                                            td 
                                                input(type='radio' name='least7' value='D47')
                            td
                                div
                                    label 8
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most8' value='B50' checked)
                                            td 
                                                p Penyemangat yang baik
                                            td 
                                                input(type='radio' name='least8' value='D50')
                                        tr 
                                            td 
                                                input(type='radio' name='most8' value='B51')
                                            td 
                                                p Penderngar yang baik
                                            td 
                                                input(type='radio' name='least8' value='D51' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most8' value='B52')
                                            td 
                                                p Penganalisa yang baik 
                                            td 
                                                input(type='radio' name='least8' value='D52')
                                        tr 
                                            td 
                                                input(type='radio' name='most8' value='B53')
                                            td 
                                                p Delegator yang baik 
                                            td 
                                                input(type='radio' name='least8' value='D53')
                            td
                                div
                                    label 9
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most9' value='I8' checked)
                                            td 
                                                p Hasil adalah penting
                                            td 
                                                input(type='radio' name='least9' value='K8')
                                        tr 
                                            td 
                                                input(type='radio' name='most9' value='I9')
                                            td 
                                                p Lakukan dengan benar, Akurasi penting 
                                            td 
                                                input(type='radio' name='least9' value='K9' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most9' value='I10')
                                            td 
                                                p Dibuat menyenangkan 
                                            td 
                                                input(type='radio' name='least9' value='K10')
                                        tr 
                                            td 
                                                input(type='radio' name='most9' value='I11')
                                            td 
                                                p Mari kerjakan bersama
                                            td 
                                                input(type='radio' name='least9' value='K11')
                        tr    
                            td
                                div
                                    label 10
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most10' value='I14' checked)
                                            td 
                                                p Akan berjalan terus tanpa kontrol diri
                                            td 
                                                input(type='radio' name='least10' value='K14')
                                        tr 
                                            td 
                                                input(type='radio' name='most10' value='I15')
                                            td 
                                                p Akan membeli sesuai dorongan hati 
                                            td 
                                                input(type='radio' name='least10' value='K15' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most10' value='I16')
                                            td 
                                                p Akan menunggu, Tanpa tekanan 
                                            td 
                                                input(type='radio' name='least10' value='K16')
                                        tr 
                                            td 
                                                input(type='radio' name='most10' value='I17')
                                            td 
                                                p Akan mengusahakan yang kuinginkan 
                                            td 
                                                input(type='radio' name='least10' value='K17')
                            td
                                div
                                    label 11
                                    table.psikotes 
                                            tr 
                                                th M 
                                                th 
                                                th L 
                                            tr 
                                                td 
                                                    input(type='radio' name='most11' value='I20' checked)
                                                td 
                                                    p Ramah, Mudah bergabung
                                                td 
                                                    input(type='radio' name='least11' value='K20')
                                            tr 
                                                td 
                                                    input(type='radio' name='most11' value='I21')
                                                td 
                                                    p Unik, Bosan rutinitas
                                                td 
                                                    input(type='radio' name='least11' value='K21' checked)
                                            tr 
                                                td 
                                                    input(type='radio' name='most11' value='I22')
                                                td 
                                                    p Aktif mengubah sesuatu
                                                td 
                                                    input(type='radio' name='least11' value='K22')
                                            tr 
                                                td 
                                                    input(type='radio' name='most11' value='I23')
                                                td 
                                                    p Ingin hal-hal yang pasti 
                                                td 
                                                    input(type='radio' name='least11' value='K23')
                            td
                                div
                                    label 12
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most12' value='I26' checked)
                                            td 
                                                p Non-konfrontasi, menyerah
                                            td 
                                                input(type='radio' name='least12' value='K26')
                                        tr 
                                            td 
                                                input(type='radio' name='most12' value='I27')
                                            td 
                                                p Dipenuhi hal detail
                                            td 
                                                input(type='radio' name='least12' value='K27' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most12' value='I28')
                                            td 
                                                p Perubahan pada menit terakhir
                                            td 
                                                input(type='radio' name='least12' value='K28')
                                        tr 
                                            td 
                                                input(type='radio' name='most12' value='I29')
                                            td 
                                                p Menuntut, kasar
                                            td 
                                                input(type='radio' name='least12' value='K29')
                        tr    
                            td
                                div
                                    label 13
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most13' value='I32' checked)
                                            td 
                                                p Ingin kemajuan 
                                            td 
                                                input(type='radio' name='least13' value='K32')
                                        tr 
                                            td 
                                                input(type='radio' name='most13' value='I33')
                                            td 
                                                p Puas dengan segalanya
                                            td 
                                                input(type='radio' name='least13' value='K33' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most13' value='I34')
                                            td 
                                                p Terbuka memperlihatkan perasaan 
                                            td 
                                                input(type='radio' name='least13' value='K34')
                                        tr 
                                            td 
                                                input(type='radio' name='most13' value='I35')
                                            td 
                                                p Rendah hati, Sederhana
                                            td 
                                                input(type='radio' name='least13' value='K35')
                            td
                                div
                                    label 14
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most14' value='I38' checked)
                                            td 
                                                p Tenang, Pendiam
                                            td 
                                                input(type='radio' name='least14' value='K38')
                                        tr 
                                            td 
                                                input(type='radio' name='most14' value='I39')
                                            td 
                                                p Bahagia, Tanpa beban 
                                            td 
                                                input(type='radio' name='least14' value='K39' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most14' value='I40')
                                            td 
                                                p Menyenangkan, Baik hati
                                            td 
                                                input(type='radio' name='least14' value='K40')
                                        tr 
                                            td 
                                                input(type='radio' name='most14' value='I41')
                                            td 
                                                p Tak gentar, Berani
                                            td 
                                                input(type='radio' name='least14' value='K41')
                            td
                                div
                                    label 15
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most15' value='I44' checked)
                                            td 
                                                p Menggunakan waktu berkualitas dengan teman
                                            td 
                                                input(type='radio' name='least15' value='K44')
                                        tr 
                                            td 
                                                input(type='radio' name='most15' value='I45')
                                            td 
                                                p Rencanankan masa depan, bersiap
                                            td 
                                                input(type='radio' name='least15' value='K45' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most15' value='I46')
                                            td 
                                                p Bepergian demi petualangan baru
                                            td 
                                                input(type='radio' name='least15' value='K46')
                                        tr 
                                            td 
                                                input(type='radio' name='most15' value='I47')
                                            td 
                                                p Menerima ganjaran atas tujuan yg dicapai
                                            td 
                                                input(type='radio' name='least15' value='K47')
                        tr 
                            td    
                                div
                                    label 16
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most16' value='I50' checked)
                                            td 
                                                p Aturan perlu dipertanyakan
                                            td 
                                                input(type='radio' name='least16' value='K50')
                                        tr 
                                            td 
                                                input(type='radio' name='most16' value='I51')
                                            td 
                                                p Aturan membuat adil
                                            td 
                                                input(type='radio' name='least16' value='K51' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most16' value='I52')
                                            td 
                                                p Aturan membuat bosan
                                            td 
                                                input(type='radio' name='least16' value='K52')
                                        tr 
                                            td 
                                                input(type='radio' name='most16' value='I53')
                                            td 
                                                p Aturan membuat aman
                                            td 
                                                input(type='radio' name='least16' value='K53')
                            td
                                div
                                    label 17
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most17' value='P8' checked)
                                            td 
                                                p Pendidikan, kebudayaan
                                            td 
                                                input(type='radio' name='least17' value='R8')
                                        tr 
                                            td 
                                                input(type='radio' name='most17' value='P9')
                                            td 
                                                p Prestasi, Ganjaran
                                            td 
                                                input(type='radio' name='least17' value='R9' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most17' value='P10')
                                            td 
                                                p Keselamatan, Keamanan 
                                            td 
                                                input(type='radio' name='least17' value='R10')
                                        tr 
                                            td  
                                                input(type='radio' name='most17' value='P11')
                                            td 
                                                p Sosial, Perkumpulan kelompok 
                                            td 
                                                input(type='radio' name='least17' value='R11')
                            td
                                div
                                    label 18
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most18' value='P14' checked)
                                            td 
                                                p Memimpin, Pendekatan langsung
                                            td 
                                                input(type='radio' name='least18' value='R14')
                                        tr 
                                            td 
                                                input(type='radio' name='most18' value='P15')
                                            td 
                                                p Suka bergaul, Antusias
                                            td 
                                                input(type='radio' name='least18' value='R15' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most18' value='P16')
                                            td 
                                                p Dapat diramal, Konsisten
                                            td 
                                                input(type='radio' name='least18' value='R16')
                                        tr 
                                            td 
                                                input(type='radio' name='most18' value='P17')
                                            td 
                                                p Waspada, Hati-hati
                                            td 
                                                input(type='radio' name='least18' value='R17')
                        tr    
                            td
                                div
                                    label 19
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most19' value='P20' checked)
                                            td 
                                                p Tidak mudah dikalahkan 
                                            td 
                                                input(type='radio' name='least19' value='R20')
                                        tr 
                                            td 
                                                input(type='radio' name='most19' value='P21')
                                            td 
                                                p Kerjakan sesuai perintah, Ikut pimpinan 
                                            td 
                                                input(type='radio' name='least19' value='R21' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most19' value='P22')
                                            td 
                                                p Mudah terangsang, Riang 
                                            td 
                                                input(type='radio' name='least19' value='R22')
                                        tr 
                                            td 
                                                input(type='radio' name='most19' value='P23')
                                            td 
                                                p Ingin segalanya teratur, Rapi 
                                            td 
                                                input(type='radio' name='least19' value='R23')
                            td
                                div
                                    label 20
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most20' value='P26' checked)
                                            td 
                                                p Saya akan pimpin mereka
                                            td 
                                                input(type='radio' name='least20' value='R26')
                                        tr 
                                            td 
                                                input(type='radio' name='most20' value='P27')
                                            td 
                                                p Saya akan melaksanakan
                                            td 
                                                input(type='radio' name='least20' value='R27' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most20' value='P28')
                                            td 
                                                p Saya akan meyakinkan mereka
                                            td 
                                                input(type='radio' name='least20' value='R28')
                                        tr 
                                            td 
                                                input(type='radio' name='most20' value='P29')
                                            td 
                                                p Saya dapatkan fakta 
                                            td 
                                                input(type='radio' name='least20' value='R29')
                            td
                                div
                                    label 21
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most21' value='P32' checked)
                                            td 
                                                p Memikirkan orang dahulu
                                            td 
                                                input(type='radio' name='least21' value='R32')
                                        tr 
                                            td 
                                                input(type='radio' name='most21' value='P33')
                                            td 
                                                p Kompetitif, Suka tantangan 
                                            td 
                                                input(type='radio' name='least21' value='R33' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most21' value='P34')
                                            td 
                                                p Optimis, Positif
                                            td 
                                                input(type='radio' name='least21' value='R34')
                                        tr 
                                            td 
                                                input(type='radio' name='most21' value='P35')
                                            td 
                                                p Pemikir logis, Sistematik
                                            td 
                                                input(type='radio' name='least21' value='R35')
                        tr 
                            td
                                div
                                    label 22
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most22' value='P38' checked)
                                            td 
                                                p Menyenangkan orang, Mudah setuju
                                            td 
                                                input(type='radio' name='least22' value='R38')
                                        tr 
                                            td 
                                                input(type='radio' name='most22' value='P39')
                                            td 
                                                p Tertawa lepas, Hidup
                                            td 
                                                input(type='radio' name='least22' value='R39' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most22' value='P40')
                                            td 
                                                p Berani, Tak gentar 
                                            td 
                                                input(type='radio' name='least22' value='R40')
                                        tr 
                                            td 
                                                input(type='radio' name='most22' value='P41')
                                            td 
                                                p Tenang, Pendiam
                                            td 
                                                input(type='radio' name='least22' value='R41')
                            td
                                div
                                    label 23
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most23' value='P44' checked)
                                            td 
                                                p Ingin otoritas lebih
                                            td 
                                                input(type='radio' name='least23' value='R44')
                                        tr 
                                            td 
                                                input(type='radio' name='most23' value='P45')
                                            td 
                                                p Ingin kesempatan baru
                                            td 
                                                input(type='radio' name='least23' value='R45' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most23' value='P46')
                                            td 
                                                p Menghindari konflik
                                            td 
                                                input(type='radio' name='least23' value='R46')
                                        tr 
                                            td 
                                                input(type='radio' name='most23' value='P47')
                                            td 
                                                p Ingin petunjuk yang jelas
                                            td 
                                                input(type='radio' name='least23' value='R47') 
                            td
                                div
                                    label 24
                                    table.psikotes 
                                        tr 
                                            th M 
                                            th 
                                            th L 
                                        tr 
                                            td 
                                                input(type='radio' name='most24' value='P50' checked)
                                            td 
                                                p Dapat diandalkan, Dapat dipercaya
                                            td 
                                                input(type='radio' name='least24' value='R50')
                                        tr 
                                            td 
                                                input(type='radio' name='most24' value='P51')
                                            td 
                                                p Kreatif, Unik 
                                            td 
                                                input(type='radio' name='least24' value='R51' checked)
                                        tr 
                                            td 
                                                input(type='radio' name='most24' value='P52')
                                            td 
                                                p Garis dasar, Orientasi hasil 
                                            td 
                                                input(type='radio' name='least24' value='R52')
                                        tr 
                                            td 
                                                input(type='radio' name='most24' value='P53')
                                            td 
                                                p Jalankan standar yang tinggi, Akurat
                                            td 
                                                input(type='radio' name='least24' value='R53')
                    button(type='submit') Submit
block script 
    script(src="/javascripts/disc_test.js") 