extends ../layout
block append content
    .block 
        .container2
            .header 
                h2 table_ist
            .body
                table#table_ist
                    tr 
                        th Nama
                        th Jenis Kelamin 
                        th Tanggal Lahir 
                        th Pendidikan Terakhir 
                        th Result 
        .container2
            .header 
                h2 table_disc
            .body
                table#table_disc
                    tr 
                        th Nama
                        th Jenis Kelamin 
                        th Umur 
                        th Result
block append script 
    script(src='/javascripts/getIST.js')
    script(src='/javascripts/getDISC.js')