extends ../layout
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/izin") Home
                li
                    span(aria-current="page") Psikotes
block info
    .block 
        .container2
            .header 
                h2 table_ist
            .body
                table#table_ist
                    tr 
                        th Nama
                        th Jenis Kelamin 
                        th Tanggal Lahir 
                        th Pendidikan Terakhir 
                        th Result 
        .container2
            .header 
                h2 table_disc
            .body
                table#table_disc
                    tr 
                        th Nama
                        th Jenis Kelamin 
                        th Umur 
                        th Result
block append script
    script(src='/javascripts/header.js')
    script(src='/javascripts/getIST.js')
    script(src='/javascripts/getDISC.js')