extends ../layout 
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href='/psikotes') Home
                li
                    span(aria-current="page") DISC Test
block info
    .block 
        .container1 
            .header 
                h2="Masuk Psikotes "+tipeTest.toUpperCase()
            .body 
                form(action="" method='post') 
                    .form-group 
                        label(for="nama") Nama 
                        input#nama(type="text" name='nama')
                    .form-group 
                        label(for="kelamin") Jenis Kelamin
                        select#kelamin(name='kelamin')
                            option(value='M') Laki-laki
                            option(value='F') Perempuan
                    .form-group 
                        label(for="umur") Umur
                        input#umur(type="number" name='umur' min=0)
                    button(type='submit' name='psikotes' value=tipeTest) Masuk
block script 
    script(src="/javascripts/masuk_psikotes.js") 