extends layout 
block content 
    .container1
        h2 Form input absen karyawan
        form#form
            .form-group 
                label(for="nik") NIK Karyawan
                input#nik(type="text" name="nik")
            .form-group 
                label(for="alasan") Alasan absen 
                input#alasan(type="text" name="alasan")
            .form-group 
                label(for="tgl_izin") Tanggal akan absen 
                input#tgl_izin(type="date" name="tgl_izin")
            .form-group 
                label(for="durasi") Berapa lama izin 
                input#durasi(type="number" name="durasi")
            button#button(type='submit') Submit
block append script 
    script(src="/javascripts/formAbsen.js") 

