block breadcrumb
    .column
        img(src="/images/Logo-Rajawali.png", alt="Logo Rajawali") 
    .row
        //- div(style="flex: 0 1 auto")
        //- div(style="flex: 0 1 auto")
        if role !== undefined
        h2=header_text
        button#logout Logout
