extends layout
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    span(aria-current="page") Home
        .btn_group
            if role == 1
                button#Chart.button(value="reportIzinKaryawanAll") Lihat Izin 
                button#Chart.button(value="psikotes") Lihat Data Psikotes
            if role == 2
                button#Chart.button(value="reportIzinKaryawan") Lihat Izin 
            if role == 3
                button#Chart.button(value="reportIzinKaryawanApprove") Lihat Izin 
block script
    script(src='/javascripts/header.js')
    script(src='/javascripts/izin.js') 