extends layout
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    span(aria-current="page") Home
        .btn_group
            button#Chart.button(value="telatKaryawan") Lihat Telat
block script
    script(src='/javascripts/header.js')
    script(src='/javascripts/kehadiran.js')