extends layout

block content
  .block
    .container1
      .header 
        h2(style="font-size:30px;") Login
      .body
        form#form
          .form-group
            label(for='email') Nama
            input#email(type='text' name='email')
          .form-group
            label(for='password') Password
            input#password(type='password' name='password')
          button(type='submit') Submit
        .soal_column
          a(href="/psikotes") Psikotes
  script(src='/javascripts/indexScript.js')