doctype HTML:5 
html
block head
  head
    title= title
    meta(name='viewport')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="https://cdn.jsdelivr.net/npm/chart.js") 
  body
    block content
    block logout 
    block nav
    block info
    block script
