doctype html
html
  head
    title= title
    meta(name='viewport')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/jquery/jquery.js")
  body
    block content
    block info
    block script
