doctype HTML:5 
html
block head
  head
    title= title
    meta(name='viewport')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="https://cdn.jsdelivr.net/npm/chart.js") 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    //- script(src="https://cdn.jsdelivr.net/npm/underscore@1.13.7/underscore-umd-min.js") 
  body
    block content
    block nav
    block info
    block script
