extends layout 
block content
    form
            label 1
            .grid-container-column
                input(type='radio' name='most1')
                p Gampangan, Mudah setuju
                input(type='radio' name='least1')
                input(type='radio' name='most1')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least1')
                input(type='radio' name='most1')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least1')
                input(type='radio' name='most1')
                p Toleran, Menghormati
                input(type='radio' name='least1')
            label 2
            .grid-container-column
                input(type='radio' name='most2')
                p Gampangan, Mudah setuju
                input(type='radio' name='least2')
                input(type='radio' name='most2')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least2')
                input(type='radio' name='most2')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least2')
                input(type='radio' name='most2')
                p Toleran, Menghormati
                input(type='radio' name='least2')
            label 3
            .grid-container-column
                input(type='radio' name='most3')
                p Gampangan, Mudah setuju
                input(type='radio' name='least3')
                input(type='radio' name='most3')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least3')
                input(type='radio' name='most3')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least3')
                input(type='radio' name='most3')
                p Toleran, Menghormati
                input(type='radio' name='least3')
            label 4
            .grid-container-column
                input(type='radio' name='most4')
                p Gampangan, Mudah setuju
                input(type='radio' name='least4')
                input(type='radio' name='most4')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least4')
                input(type='radio' name='most4')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least4')
                input(type='radio' name='most4')
                p Toleran, Menghormati
                input(type='radio' name='least4')
            label 5
            .grid-container-column
                input(type='radio' name='most5')
                p Gampangan, Mudah setuju
                input(type='radio' name='least5')
                input(type='radio' name='most5')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least5')
                input(type='radio' name='most5')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least5')
                input(type='radio' name='most5')
                p Toleran, Menghormati
                input(type='radio' name='least5')
            label 6
            .grid-container-column
                input(type='radio' name='most6')
                p Gampangan, Mudah setuju
                input(type='radio' name='least6')
                input(type='radio' name='most6')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least6')
                input(type='radio' name='most6')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least6')
                input(type='radio' name='most6')
                p Toleran, Menghormati
                input(type='radio' name='least6')
            label 7
            .grid-container-column
                input(type='radio' name='most7')
                p Gampangan, Mudah setuju
                input(type='radio' name='least7')
                input(type='radio' name='most7')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least7')
                input(type='radio' name='most7')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least7')
                input(type='radio' name='most7')
                p Toleran, Menghormati
                input(type='radio' name='least7')
            label 8
            .grid-container-column
                input(type='radio' name='most8')
                p Gampangan, Mudah setuju
                input(type='radio' name='least8')
                input(type='radio' name='most8')
                p Percaya, Mudah percaya pada orang 
                input(type='radio' name='least8')
                input(type='radio' name='most8')
                p Petualang, Mengambil resiko 
                input(type='radio' name='least8')
                input(type='radio' name='most8')
                p Toleran, Menghormati
                input(type='radio' name='least8')