extends telatPage
block nav 
    .block(style="margin-top: 1.6em;")
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/kehadiran/info") Home
                li
                    span(aria-current="page") Jumlah Telat Per bulan
block append info
        if role !== 2
            div(style="margin-top: 1.6em;display: flex; align-items: center; justify-content: center;")
                div.autocomplete
                    input#karyawan(type="text", name="karyawan" autocomplete="off")
        h3 Telat per hari
        div(style="position: relative; height: 80vh; width: 100vw;")
            canvas#karyawanChart
        div(style="position: relative; height: 80vh; width: 80vw;")
            canvas#divisiChart
        include telat_per_hari
block append script
    script(src="/javascripts/karyawanchart.js")
    script(src="/javascripts/divisichart.js")
    script(src="/javascripts/getChartDataAll.js")