extends telatPage
block nav 
    .header
        h2 Chart
        button#logout Logout
    .block(style="margin-top: 1.6em;")
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/kehadiran/info") Home
                li
                    span(aria-current="page") Jumlah Telat Per bulan
block append info
        if role !== 2
            div(style="margin-top: 1.6em;display: flex; align-items: center; justify-content: center;")
                div.autocomplete
                    input#karyawan(type="text", name="karyawan" autocomplete="off")
        div(style="position: relative; height: 80vh; width: 100vw;")
            canvas#myChart
block append script
    script(src="/javascripts/karyawanchart.js")
    if role == 1
        script(src="/javascripts/getChartDataAll.js")
    else 
        script(src="/javascripts/getChartData.js")