extends karyawanchart 
block append info 
    h3 Telat per hari
    .form-group#byDate
        input#tanggal(type='date' name='tanggal' value=tanggal max= tanggal)
    for entry in absenkaryawan
        ul(id= entry.nik name=entry.tgl_absen style='display: none' class="hide container2")
        for detail in entry 
            if(detail !== '') 
                li= detail
            else 
                li= "nothing to see here"