-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: absenrajawali
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cuti`
--

DROP TABLE IF EXISTS `cuti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuti` (
  `nik` varchar(255) DEFAULT NULL,
  `jumlah_cuti` int DEFAULT NULL,
  KEY `fk_cuti_nik` (`nik`),
  CONSTRAINT `fk_cuti_nik` FOREIGN KEY (`nik`) REFERENCES `karyawan` (`nik`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuti`
--

LOCK TABLES `cuti` WRITE;
/*!40000 ALTER TABLE `cuti` DISABLE KEYS */;
/*!40000 ALTER TABLE `cuti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `divisi`
--

DROP TABLE IF EXISTS `divisi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `divisi` (
  `id` varchar(30) NOT NULL,
  `namaDivisi` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `divisi`
--

LOCK TABLES `divisi` WRITE;
/*!40000 ALTER TABLE `divisi` DISABLE KEYS */;
INSERT INTO `divisi` VALUES ('D01','Admin Sales & Engineer'),('D02','ERP'),('D03','Estimator'),('D04','Finance & Accounting'),('D05','GTI'),('D06','Logistik'),('D07','MEP'),('D08','Operation'),('D09','PCS'),('D10','PPJM'),('D11','Purchasing'),('D12','RPE'),('D13','Sales'),('D14','Service'),('D15','Team Bali'),('D16','Teknisi TC');
/*!40000 ALTER TABLE `divisi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `izinkaryawan`
--

DROP TABLE IF EXISTS `izinkaryawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `izinkaryawan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alasan` int DEFAULT NULL,
  `nik` varchar(255) DEFAULT NULL,
  `tgl_izin` date DEFAULT NULL,
  `myTimestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `jam` int DEFAULT '0',
  `isSakit` tinyint(1) DEFAULT '0',
  `isCuti` varchar(255) DEFAULT '0',
  `menit` int DEFAULT '0',
  `hari` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `fk_nik_izinKaryawan` (`nik`),
  CONSTRAINT `fk_nik_izinKaryawan` FOREIGN KEY (`nik`) REFERENCES `karyawan` (`nik`)
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `izinkaryawan`
--

LOCK TABLES `izinkaryawan` WRITE;
/*!40000 ALTER TABLE `izinkaryawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `izinkaryawan` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `cuti` BEFORE INSERT ON `izinkaryawan` FOR EACH ROW begin 
   if new.isCuti = true then
   update cuti 
   set jumlah_cuti = jumlah_cuti - 1
   where new.nik = nik && jumlah_cuti > 0;
   end if;
end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `karyawan`
--

DROP TABLE IF EXISTS `karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `karyawan` (
  `nik` varchar(30) NOT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `pass` varchar(30) DEFAULT NULL,
  `divisi` varchar(30) DEFAULT NULL,
  `role_id` int DEFAULT NULL,
  PRIMARY KEY (`nik`),
  KEY `fk_divKaryawan` (`divisi`),
  KEY `fk_id_role` (`role_id`),
  CONSTRAINT `fk_divKaryawan` FOREIGN KEY (`divisi`) REFERENCES `divisi` (`id`),
  CONSTRAINT `fk_id_role` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karyawan`
--

LOCK TABLES `karyawan` WRITE;
/*!40000 ALTER TABLE `karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kehadiran`
--

DROP TABLE IF EXISTS `kehadiran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kehadiran` (
  `nik` varchar(30) NOT NULL,
  `tgl_absen` date NOT NULL,
  `hadir` int DEFAULT NULL,
  `telat` int DEFAULT NULL,
  `lembur` int DEFAULT NULL,
  `jam_kerja` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kehadiran`
--

LOCK TABLES `kehadiran` WRITE;
/*!40000 ALTER TABLE `kehadiran` DISABLE KEYS */;
/*!40000 ALTER TABLE `kehadiran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kehadirantotal`
--

DROP TABLE IF EXISTS `kehadirantotal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kehadirantotal` (
  `nama` varchar(30) DEFAULT NULL,
  `idDivisi` varchar(30) DEFAULT NULL,
  `jumlahMenitTerlambat` int DEFAULT NULL,
  `jumlahJamTerlambat` float DEFAULT NULL,
  `JumlahHariTerlambat` int DEFAULT NULL,
  `month` date DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kehadirantotal`
--

LOCK TABLES `kehadirantotal` WRITE;
/*!40000 ALTER TABLE `kehadirantotal` DISABLE KEYS */;
/*!40000 ALTER TABLE `kehadirantotal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` int NOT NULL,
  `role` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (1,'HRD'),(2,'staff'),(3,'admin');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sakit`
--

DROP TABLE IF EXISTS `sakit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sakit` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nik` varchar(255) DEFAULT NULL,
  `surat_dokter` varchar(255) DEFAULT NULL,
  `tgl_sakit` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_nik_sakit` (`nik`),
  CONSTRAINT `fk_nik_sakit` FOREIGN KEY (`nik`) REFERENCES `karyawan` (`nik`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sakit`
--

LOCK TABLES `sakit` WRITE;
/*!40000 ALTER TABLE `sakit` DISABLE KEYS */;
/*!40000 ALTER TABLE `sakit` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `insertSakit` AFTER INSERT ON `sakit` FOR EACH ROW begin 
   insert into izinkaryawan(nik,alasan,tgl_izin,durasi_dalam_jam,isSakit)
   values(new.nik, 'sakit', new.tgl_sakit, 24, true);
end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `telat_per_divisi`
--

DROP TABLE IF EXISTS `telat_per_divisi`;
/*!50001 DROP VIEW IF EXISTS `telat_per_divisi`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `telat_per_divisi` AS SELECT 
 1 AS `divisi`,
 1 AS `bulan`,
 1 AS `tahun`,
 1 AS `telat_per_bulan`,
 1 AS `total_menit_per_bulan`,
 1 AS `total_jam_per_bulan`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `telat_per_karyawan`
--

DROP TABLE IF EXISTS `telat_per_karyawan`;
/*!50001 DROP VIEW IF EXISTS `telat_per_karyawan`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `telat_per_karyawan` AS SELECT 
 1 AS `nik`,
 1 AS `bulan`,
 1 AS `tahun`,
 1 AS `telat_per_bulan`,
 1 AS `total_menit_per_bulan`,
 1 AS `total_jam_per_bulan`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `telat_per_divisi`
--

/*!50001 DROP VIEW IF EXISTS `telat_per_divisi`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`auddii`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `telat_per_divisi` AS select `b`.`divisi` AS `divisi`,monthname(`a`.`tgl_absen`) AS `bulan`,year(`a`.`tgl_absen`) AS `tahun`,count(`a`.`telat`) AS `telat_per_bulan`,round((sum(`a`.`telat`) / count(`b`.`divisi`)),2) AS `total_menit_per_bulan`,round(((sum(`a`.`telat`) / count(`b`.`divisi`)) / 60),2) AS `total_jam_per_bulan` from (`kehadiran` `a` join `karyawan` `b` on((`b`.`nik` = `a`.`nik`))) where ((`a`.`telat` > 0) and (year(`a`.`tgl_absen`) = '2024')) group by `b`.`divisi`,`bulan`,`tahun` order by `b`.`divisi` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `telat_per_karyawan`
--

/*!50001 DROP VIEW IF EXISTS `telat_per_karyawan`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `telat_per_karyawan` AS select `kehadiran`.`nik` AS `nik`,monthname(`kehadiran`.`tgl_absen`) AS `bulan`,year(`kehadiran`.`tgl_absen`) AS `tahun`,count(`kehadiran`.`telat`) AS `telat_per_bulan`,sum(`kehadiran`.`telat`) AS `total_menit_per_bulan`,(sum(`kehadiran`.`telat`) / 60) AS `total_jam_per_bulan` from `kehadiran` where (`kehadiran`.`telat` > 0) group by `kehadiran`.`nik`,`bulan`,`tahun` order by `kehadiran`.`nik` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-08-13 17:17:03
