extends ../infographicBody
block nav 
    .column
        img(src="/images/Logo-Rajawali.png", alt="Logo Rajawali") 
    .row
        h2 Form input izin karyawan
        button#logout Logout
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/kehadiran/info") Home
                li
                    a(href="/kehadiran/info/reportizinKaryawan") Report Izin
                li
                    span(aria-current="page") Form Absen
block append info
    .block
        .container1
                case role
                    when 2: div 
                        .body
                            form#form
                                div(class="form-group autocomplete")
                                    label(for="nama") Nama Karyawan
                                    input#nama(type="text" name="nama" autocomplete="off")                        
                                div.form-group(style="display: flex;align-items: auto;justify-content: auto;flex-direction: column;")
                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                        input#izin(type="radio" name="toggle" value="1")
                                        label(for="toggle" style="margin-bottom: 0px") Izin
                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                        input#sakit(type="radio" name="toggle" value="2")
                                        label(for="toggle" style="margin-bottom: 0px") Sakit 
                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                        input#cuti(type="radio" name="toggle" value="3")
                                        label(for="toggle" style="margin-bottom: 0px") Cuti
                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                        input#dtgTrlmbt(type="radio" name="toggle" value="4")
                                        label(for="toggle" style="margin-bottom: 0px") Datang Terlambat
                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                        input#plngAwl(type="radio" name="toggle" value="5")
                                        label(for="toggle" style="margin-bottom: 0px") Pulang Awal
                                    div(style="display: flex;align-items: auto;justify-content: auto;flex-direction: row;")
                                        input#dinTgs(type="radio" name="toggle" value="6")
                                        label(for="toggle" style="margin-bottom: 0px") Dinas/Tugas
                                .form-group 
                                    label(for="ket") Keterangan
                                    input#ket(type="text" name="ket")
                                .form-group 
                                    label(for="surat") Upload File
                                    input#surat(type="file" name="surat")
                                .form-group
                                    label(for="start") From
                                    <div class="clock">
                                        div#start.time
                                            input#startJam.hours(type="number"  min='8' max='17' value=8)
                                            input.hours(type="hidden" name="startJam")
                                            span.separator :
                                            input#startMenit.minutes(type="number"  min='0' max='59' value=30)
                                            input.minutes(type="hidden" name='startMenit')
                                    </div>
                                .form-group
                                    label(for="end") to
                                    <div class="clock">
                                        div#end.time
                                            input#endJam.hours(type="number"  min='8' max='17' value=17)
                                            input.hours(type="hidden" name="endJam")
                                            span.separator :
                                            input#endMenit.minutes(type="number"  min='0' max='59' value=30)
                                            input.minutes(type="hidden" name='endMenit')
                                    </div>
                                .form-group
                                    label(for="hari") Hari
                                    input#durasiDalamJam(type="number" name="hari" min="0" max="30" value="0")
                                .form-group 
                                    label(for="tgl_izin") Tanggal
                                    input#tgl_izin2(type="date" name="tgl_izin")
                                button#button(type='submit') Submit
                    //- when 1: div 
                        .body
                            form#form
                                .form-group 
                                    label(for="tgl_izin") Tanggal akan izin
                                    input#tgl_izin1(type="date" name="tgl_izin")
                                div(class="form-group autocomplete" autocomplete="off")
                                    label(for="nama") nama Karyawan
                                    input#nama(type="text" name="nama" autocomplete="off" disabled)                        
                                .form-group 
                                    label(for="getsurat") Ambil Surat Dokter
                                    button#getsurat(type="button" name="getsurat" disabled) Ambil Surat
    button#buttonDownload(type="button") Download

block append script 
    case role 
        when 2: script(src="/javascripts/formAbsen.js") 
        when 1: script(src="/javascripts/ambilSurat.js") 

