extends ../infographicBody
block nav 
    .block
        nav(aria-label="Breadcrumb" class="breadcrumb")
            ul
                li
                    a(href="/izin") Home
                li
                    a(href="/izin/reportizinKaryawan") Report Izin
                li 
                    span(aria-current="page") Plafon Cuti 
block info 
    -var date = new Date
    .block 
        .btn_group
            button#syncCuti.button(type='button') Sync cuti
            button#ambilCuti.button(type="button") Ambil cuti
        .block
            -var date = new Date
        .container2 
            .header
            .body 
                //- h3= 'Jata cuti tinggal ' + ((date.getMonth()+1)-sql[0].jumlah_cuti)
                -var date = new Date
                -var thn_depan = date.getFullYear()+1
                form#formCuti
                    label(for="jmlhCuti") Jumlah Cuti
                    input#jmlhCuti(type="text" value = '1')
                    #isiCuti.form-group 
                    //- button(type='submit') Submit
                    //- button(type='button') Carry Over
block script 
    script(src='/javascripts/header.js')
    script(src='/javascripts/plafon_cuti.js')